body[b-v5v57u6da7] {
    background-color:azure;
}

.img-logo[b-v5v57u6da7]{
    height:100%;
    width:80%;
}

.space-top-ppal[b-v5v57u6da7] {
    margin-top: 20px;
}

.center-title[b-v5v57u6da7] {
    text-align: center;
}

.title[b-v5v57u6da7] {
    font-style: italic;
    color: blueviolet;
}