body {
    background: rgb(242,242,242);
    background: linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(109,160,233,1) 35%, rgba(17,58,117,1) 100%);
}

.img-logo{
    height:100%;
    width:80%;
}

.space-top-ppal {
    margin-top: 20px;
    margin-bottom: 5%;
}

.center-title {
    text-align: center;
}

.title {
    font-style: italic;
    color: white;
    font-family:'Century Gothic';
    font-size:larger;
}

.space-containet-login {
    padding-top: 5%;
}