body {
    /*background-color: azure;*/
    background: rgb(0,19,36);
    background: linear-gradient(90deg, rgba(0,19,36,0.05085784313725494) 12%, rgba(0,138,255,1) 100%);
}

.img-logo{
    height:100%;
    width:80%;
}

.space-top-ppal {
    margin-top: 20px;
    margin-bottom: 5%;
}

.center-title {
    text-align: center;
}

.title {
    font-style: italic;
    color: blueviolet;
    font-family:'Century Gothic';
    font-size:larger;
}

.space-containet-login {
    padding-top: 5%;
}