@inherits LayoutComponentBase

<div class="page">

    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>

            <div class="main">
                <div class="top-row px-4">
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <portal_pets.Pages.Login.Logueo></portal_pets.Pages.Login.Logueo>
            @*<portal_pets.Pages.Login.RememberMe></portal_pets.Pages.Login.RememberMe>*@
        </NotAuthorized>
    </AuthorizeView>

</div>
